/* 
CORES:
- AZUL MEDIO ESCURO: #314047
- AZUL ESCURO: #1d292d
- VERDE CHARACTER: #9ea869
 */
*{
  box-sizing: border-box;
}
h1 {
  font-family: 'Reenie Beanie', cursive; 
  color: #9ea869;
  font-size: 75px;
  display: flex;
  justify-content: center;
  margin: auto;
  text-shadow: 2px 7px #425553;
}
body {
  background-image: url(/images/1b.png);
  background-repeat: repeat;
  background-size: cover;
  justify-content: center;
}
.btnPause{
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  border: none;
}
.startScreen{
  display: flex;
  justify-content: center;

}